body {
  background-color: red;
  background-image: linear-gradient(
    45deg,
    rgb(0, 0, 0),
    rgb(189, 38, 38),
    rgb(0, 0, 0)
  );
}

.my-card {
  padding: 35px 10px 35px 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: solid 3px white;
  background-color: black;
}

.my-card-img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: white 3px solid;
}

.my-card-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 38px;
  text-shadow: 1px 1px 0.25rem red;
}

.my-card-text {
  font-size: 24px;
}

.my-btn {
  font-size: 22px;
  border-radius: 15px;
  position: absolute;
  right: 25px;
  bottom: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: rgb(33, 204, 76);
}
